/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: #F8B195;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #F67280;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .juice-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .juice_product_img{
    flex: 50%;
    padding: 0 4px;
  }
